.seat {
    padding: 4px 8px;
    border-radius: 4px;
    background: #6c757d;
    color: #f8f9fa;
  }
  .occupied {
    background: #dc3545;
  }
  .text-occupied {
    color: #dc3545;
  }
  .free {
    background: #28a745;
  }
  .text-free {
    color: #28a745;
  }
  .sushi {
    background: url(luigi-pozzoli-wmPDe9OnXT4-unsplash.jpg); 
    /* Image Source: https://unsplash.com/photos/wmPDe9OnXT4 */
    background-size: cover;
    min-height: 487px;
  }
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    line-height: 1.5;
    margin: auto 0;
  }